@keyframes blinking_cursor
{
    0%
    {
        opacity:0;
    }
    40%
    {
        opacity:100%;
    }
}

@keyframes makebig
{
    0%
    {
        transform: scale(0.8, 0.8);
    }
    100%
    {
        transform: scale(1, 1);
    }
}

@keyframes open
{
    0%
    {
        height:100%;
        left:0;
        top:0;
        margin:0;
        visibility:visible;
    }
    85%
    {
        height:100%;
        left:0;
        top:0;
        margin:0;
        width:100%;
        visibility:visible;
    }
    100%
    {
        left:0;
        top:0;
        height:47px;
        margin:8px;
        width:calc(100% - 16px);
        visibility:visible;
    }
}

h1#title
{
    font-family:'Courier New', Courier, monospace;
    padding:5px;
    margin:0;
    background-color:#000;
    color:#0f0;
    display:block;
}

div.team-members
{
    margin:25px 0;
    text-align:center;
}

div.team-members button
{
    width:250px;
    height:250px;
    margin:10px;
    border-radius:250px;
    border:0;
    padding:0;
    background-color:#FFF;
    background-size: cover;
}

div.team-members button:hover
{
    border-radius:20px;
    transform:scale(1.2,1.2) translateY(-20px);
    box-shadow: 0 20px 20px -10px rgba(0,0,0,0.2);
    transition:transform 0.2s, box-shadow 0.2s, border-radius 0.2s;
}

dialog
{
    width:800px;
    animation:makebig 0.1s cubic-bezier(.36,.96,.61,1.38);
}

div#opener
{
    font-family: 'Courier New', Courier, monospace;
    background-color:black;
    color:#0f0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    margin:8px;
    padding:0;
    height:0;
    overflow:hidden;
    white-space: nowrap;
    display:block;
    animation:open 7s ease-in-out;
    overscroll-behavior-y: contain;
    visibility:hidden;
}

div#opener.w::after
{
    content:"_";
    color:#0f0;
    animation: blinking_cursor 1.2s steps(1) infinite;
}