body
{
    background-color:#fed;
}
h1
{
    font-family:'Courier New', Courier, monospace;
    margin:0;
    margin-left:-150px;
    position:absolute;
    left:50%;
    padding:10px 50px 10px 50px;
    background-color:#000;
    color:#0f0;
    display:block;
}

div.team-members
{
    padding-top:100px;
}